<% include partials/header %>

<div class="ui main text container segment">
    
    <div class="ui huge header">
        <%= blog.title %>
    </div>
    
    <div class="ui top attached">
        
        <div class="item">
            
            <img class="ui centered rounded image" src="<%= blog.image %>">
            
            <div class="content">
                
                <span><%= blog.created.toDateString() %></span>
                
            </div>
            
            <div class="description">
                
                 <p><%- blog.body %></p>
                
            </div>
            
            <div>
                
                <a href="/blogs/<%= blog._id %>/edit" class="ui basic button orange">Edit</a>
                
                <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                    
                    <button class="ui button red basic">Delete</button>
                    
                </form>
                
            </div>
            
        </div>
        
    </div>
    
   
        
</div>

<% include partials/footer %>

<!--
toDateString() is a predefined JS method to display readable dates
substituting - in place of =, it evaluates like a code rather than just displaying as a String. Run the code and render the result
We will use express's sanitizer property to avoid adding <script> tags for including JS.
-->